.container {
  background-color: #212121;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 0.5px;
  border-color: white;
  border-radius: 5px;
}

.content {
  width: 90%;
  display: inline;
}

img {
  max-width: 500px;
  height: auto;
}

.title {
  color: white;
  text-align: left;
  font-size: 20px;
  padding-bottom: 20px;
  margin: 0;
  background-color: #212121;
}

.upDown {
  position: relative;
  right: 0;
  float: right;
  width: 10%;
  display: inline;
  background-color: #212121;
}

.upVote {
  background-image: url(../../img//upVote_two.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.downVote {
  background-image: url(../../img//downVote_two.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comment {
  background-image: url(../../img/comts.svg);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: relative;
  bottom: 0px;
  left: 50px;
  cursor: pointer;
}

.likes {
  color: white;
  background-color: #212121;
}

.commentsDiv {
  display: none;
}

.comments {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
